<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Main Page입니다.</h1>
    <p> <%= msg %> </p>

    <input type="text" id="nickname">
    <button id="btnChange">닉네임변경</button>

    <input type="text" id="msg">
    <button id="btnSend">전송</button>

    <div id="chatList">

    </div>

    <script>
        let socket = io();
        let msgInput = document.querySelector("#msg");
        let btn = document.querySelector("#btnSend");
        let chatList = document.querySelector("#chatList");

        let changeBtn = document.querySelector("#btnChange");
        let nickInput = document.querySelector("#nickname");

        changeBtn.addEventListener("click", ()=>{
            let nick = nickInput.value;
            io.emit('server-msg',{text:`${socket.nickname}님이${name}으로 변경하였습니다 `});
            socket.emit('change', {name:nick});
        });

        btn.addEventListener("click", ()=>{
            let msg = msgInput.value;
            
            socket.emit('gondr', {text:msg});
        });

        socket.on('server-msg', (data)=>{
            let msgDiv = document.createElement("div");
            msgDiv.innerHTML = data.text;
            chatList.appendChild(msgDiv);
        });
    </script>
</body>
</html>